@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green: #00DF9A;
    --white: #FFFFFF;
    --black: #000000;
    --green-dark: #33554a;
    --orange: #F5470F;
    --cyan: #1DBEC8;
    --dark-blue:#23868d;

}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    background-color: var(--black);

}


header{
    position: relative;
    top:0;
    right: 0;
    width: 100%;
    background: #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 223, 154, 0.2);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.navbar{
    display: flex;
}
.navbar a {
    padding: 10px 20px;
}


.logo{
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--white);
text-decoration: none;
transition: all ease 0.30s;
}
.logo:hover{
    color: var(--green);
}

header .menu-items{
    display: flex;
    gap: 40px;
}

header .menu-items a{
font-style: normal;
font-weight: 700;
font-size: 20px;
color: var(--white);
text-decoration: none;
transition: all ease 0.30s;
}

header .menu-items a:hover{
    color: var(--green);
    text-decoration: underline;

}

.sign-in-button{
cursor: pointer;
background: var(--green);
border-radius: 12px;
width: 193px;
height: 33px;
font-weight: 600;
font-size: 18px;
transition: all ease 0.30s;
}

.sign-in-button:hover{
    background-color: var(--green-dark);
}
.home h1{
    color: white;
}

.cs{
box-sizing: border-box;
position: relative;
width: 420px;
height: 62px;
left: 35%;
top: 20%;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
margin-top: 10px;
margin-bottom: 10px;
color: var(--white);
text-decoration: none;
}

.how-to-use{
    position: relative;
    color: white;
    padding-bottom: 10px;
    left: 30%;
    top: 38%;
    margin-top: 10px;
    font-weight: 700;

}

.green{
    color: var(--green);
}

.csinfo{
    position: relative;
width: 100%;
height: 68px;
padding-left: 15px;
top: 100%;
margin-top: 25px;
margin-bottom: 50px;
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;
letter-spacing: 0.05em;

color: rgb(255, 255, 255);

}


/* Map of the courses*/

.node {

    font-size: 2px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(228, 198, 198);
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    width: 150px;
    position: relative;
    user-select: none;
  }
  .years{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
}


.years-text{
    text-align: center;
    color: white;
    font-size: large;
    text-decoration: underline;
}

#course-info .close{
    text-decoration: underline;
    color: red;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}

.course-info{
    position: absolute;
    background-color: white;
    font-size: 10px;
    width:400px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 5px;
    visibility: hidden;
    user-select: none;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);


}

.course-info p{
    font-size: 12px;
    font-weight: 500;
}
#schedule{
    background-color: var(--green);
    border-radius: 5px;
}


footer {
    margin-bottom: 0px;
    margin-top: 100px;
    border:solid;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }

  .schedule-btn{
    cursor: pointer;
    background-color: var(--green);
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
  }

  .schedule-btn:hover{
    background-color: var(--green-dark);
  }

  .orange{
    color: var(--orange);
}
.course-info .close{
    font-size: 12px;
}



.line{
    z-index: -1;
    position:absolute;
    width:4px;
    margin-top:-1px;
    background-color: rgba(255, 0, 0, 0.4);;
  }